/*
Free Html5 Responsive Templates
Author: Kimmy
Author URI: http://www.zerotheme.com/
*/
/* -------------------------------------------- */
/* ------------------Reset--------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:middle;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border: solid 1px #474747;padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea {margin:3px; padding:5px; border-radius:5px; text-align: center;}
select {width:55px;margin:0px; padding:3px; border-radius:5px; text-align: center;}
textarea, input {font: 17px/25px Arial, Helvetica, sans-serif;}

/* -------------------------------------------- */
/* ------------------Font---------------------- */

/* -------------------------------------------- */
/* ------------------Style--------------------- */
html, body {width:100%; padding:0; margin:0;}
body {background: #eeeeee;color: #474747;font: 17px/25px Arial, Helvetica, sans-serif;}

a{color: #474747;text-decoration: none;}
a:hover {color: #5EB7CB;; text-decoration: none;}

a.button{cursor: pointer;color: #ffffff;line-height: 14px;font-family: Arial, Helvetica, sans-serif;font-size: 14px;font-weight: bold;	background: #3F3F3F;border:1px solid #ffffff; -webkit-border-radius: 4px;-moz-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;}
a.button {	display: inline-block;	text-decoration: none;	padding: 6px 12px 6px 12px;}
a.button:hover{}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* -------------------------------------------- */
/* ------------------Header-------------------- */
header {background:#4cc9e9; font-family: 'Oswald', sans-serif;}
header .wrap-header{height: 45px;}

header #logo {position:absolute; top:15px; width: 100%;}

.subnav{background:#5EB7CB!important; border:1px solid #72D4EA;}
.subnav .wrap-subnav{}
.subnav .links ul{list-style: none;margin: 0;padding: 0;}
.subnav .links ul li{position:relative; float:left; padding-right:15px;}
.subnav .links ul li a{ font-weight:bold; font-size:10px; color:#474747;}
.subnav .links ul li a:hover{color:#ffffff;}

.subnav .share{ float:right;}
.subnav .share ul{list-style: none;margin: 0;padding: 0;}
.subnav .share ul li{position:relative; float:left; padding-right:5px;}

header #search {position: absolute;top: 50px;right: 0px; width: 258px;z-index: 15;}
header .button-search {	position: absolute;	left: 3px;	background: url('../images/button-search.png') center center no-repeat;	width: 28px; top: 5px; height: 25px;	border-right: 1px solid #CCCCCC;	cursor: pointer;}
header #search input {	background: #FFF;	padding: 1px 1px 1px 15px;	width: 225px; height: 25px;	border: 1px solid #CCCCCC;	-webkit-border-radius: 3px;	-moz-border-radius: 3px;-khtml-border-radius: 3px;	border-radius: 3px;}

/* -------------------------------------------- */
/* ------------------Navigation---------------- */
nav { background: #E3E1E1; border-bottom: 1px solid #CCC;}
nav .wrap-nav{height: 37px;}

.menu ul {list-style: none;margin: 0;padding: 0;}
.menu  ul li {position: relative;float: left;}
.menu  ul li a {font-size: 14px; line-height:14px;color:#fff;display: block;padding: 16px 10px;margin-bottom: 5px;z-index: 6;position: relative; text-transform:uppercase; -webkit-transition: all 0.3s ease-in;-moz-transition: all 0.3s ease-in;-o-transition: all 0.3s ease-in;}
.menu  ul li:hover a {color:#4cc9e9; background-color:#fff;}

.minimenu{display:none;}
.minimenu{position: relative;margin: 0px;background:transparent; border: 1px solid #CCC;}
.minimenu ul li {position: relative;float: left;padding: 6px 5px 0px 5px;}
.minimenu ul li a {font-size: 14px; line-height:14px;color:#fff;display: block;padding: 6px 10px;margin-bottom: 5px;z-index: 6;position: relative; text-transform:uppercase; }
.minimenu ul li:hover a {color:#4cc9e9; background-color:#fff;}
.minimenu div{overflow: hidden;position: relative;font: 18px/40px 'PT Sans Narrow';color: #ffffff;text-align:center;text-transform:uppercase;font-weight:bold;}
.minimenu select{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%; opacity: 0;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);	cursor: pointer;}

ul.navigation, ul.navigation ul.sub-menu {padding:0;margin: 0;}
ul.navigation ul.sub-menu li {list-style-type: none;display: inline-block;margin-top: -3px;}
ul.navigation li ul.sub-menu li a {text-decoration: none;color: #4cc9e9;background: #fff;padding: 13px;display:inline-block;margin-top: -2px;width: 130px;border-radius: 0px;}
ul.navigation li {position: relative;}
ul.navigation li ul.sub-menu {display:none;position: absolute;left: 0;box-shadow: 0px 5px 5px #888888;-moz-box-shadow: 0px 5px 5px #888888;-webkit-box-shadow: 0px 5px 5px #888888;}
ul.navigation li:hover ul.sub-menu {display:block;}
ul.navigation ul.sub-menu li:hover a{border-radius: 0px !important;color:#fff; background-color:#4cc9e9;} 

/* -------------------------------------------- */
/* ------------------Navigation---------------- */

.featured{margin:30px auto;}
.featured .wrap-featured{background:#333;}
.featured .wrap-featured .slider{padding:5px;}

/* -------------------------------------------- */
/* ------------------Content------------------- */
#content {padding:0px;}
#content .wrap-content{}

#main-content{}
#main-content article{ clear: both; padding:20px;}
#main-content article h2{font-size:22px; line-height:25px;}
#main-content article .info{font-style:italic; background:#5EB7CB; color:#ffffff; padding:3px 5px;}
#main-content article .info a{color: #ffffff; text-decoration:underline;}
#main-content article img{margin-right:0px; border:none;}
#main-content article p{margin-bottom:10px;}

#main-content .comment{font-weight:bold; margin:20px 0px; background:#ffffff url("../images/bgbox.png") repeat-x; padding:20px; border:1px solid #CCC;}
#main-content .comment:after{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
#main-content .comment div{margin-bottom: 20px; vertical-align:middle; }
#main-content .comment input{border: 2px solid #999999;padding: 8px 10px;width:250px;}
#main-content .comment textarea{border: 2px solid #999999;padding: 8px 10px;width:95%;}
#main-content .comment input[type="submit"] {cursor: pointer; width:100px; float:right;
	background: -webkit-linear-gradient(top, #efefef, #ddd);background: -moz-linear-gradient(top, #efefef, #ddd);
	background: -ms-linear-gradient(top, #efefef, #ddd);background: -o-linear-gradient(top, #efefef, #ddd);
	background: linear-gradient(top, #efefef, #ddd);
	color: #333;text-shadow: 0px 1px 1px rgba(255,255,255,1);	border: 2px solid #999999;}
#main-content .comment input[type="submit"]:hover {
	background: -webkit-linear-gradient(top, #eee, #ccc);	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -ms-linear-gradient(top, #eee, #ccc);	background: -o-linear-gradient(top, #eee, #ccc);
	background: linear-gradient(top, #eee, #ccc);	border: 2px solid #bbb;}
#main-content .comment input[type="submit"]:active {
	background: -webkit-linear-gradient(top, #ddd, #aaa);	background: -moz-linear-gradient(top, #ddd, #aaa);
	background: -ms-linear-gradient(top, #ddd, #aaa);	background: -o-linear-gradient(top, #ddd, #aaa);
	background: linear-gradient(top, #ddd, #aaa);	border: 2px solid #999;}

#sidebar{}
#sidebar .box{margin-bottom:20px;}
#sidebar .heading{ padding:8px 20px; border:1px solid #CCC; background: url("../images/bgheading.png") repeat-x;}
#sidebar .heading h2{font-size:22px; font-weight:normal; display:inline;}
#sidebar .content{padding:20px; border-left:1px solid #CCC; border-right:1px solid #CCC; border-bottom:1px solid #CCC; background: #ffffff url("../images/bgbox.png") repeat-x;}

/* -------------------------------------------- */
/* ------------------Footer-------------------- */
footer {background-color:#333;}
.e-footer a, .copyright a{text-decoration:underline; color:#fff; }
.copyright{text-align:center; background:#4cc9e9; padding:10px 0px;color:#fff;font-size: 12px; font-family: 'Source Sans Pro', sans-serif; text-shadow: 0px -1px 0px #25a9ff;}
.e-footer{text-align:center;padding:10px 0px !important;color:#fff;font-size: 12px; font-family: 'Source Sans Pro', sans-serif;}
.e-footer p i{margin-right: 15px;}
.e-footer p a{-webkit-transition: all 0.3s ease-in;-moz-transition: all 0.3s ease-in;-o-transition: all 0.3s ease-in;}
.e-footer p a:hover{color:#4cc9e9;}

/* -------------------------------------------- */
/* ------------------Components-------------------- */

.posts {margin-bottom: 20px;}
.posts h4{ font-size:14px; font-weight:normal;}
.posts img{ float:left; padding:5px; border:1px solid #CCC; margin-right:10px;}
.posts p{color:#A3A3A3; font-style:italic;}

.linklist{}
.linklist ul{ font-size:14px; list-style-type:circle; margin-left:20px;}
.linklist ul li{border-bottom: 1px solid #E1E1E1; padding:5px;}

.photos{}
.photos:after{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.photos a{display: block; float:left; margin: 0px 4px 10px 4px;position: relative;}
.photos a img{display:block; border:1px solid #CCC;}

#pagi{margin: 30px auto;padding: 0;list-style: none;width: 180px;}
#pagi li {float: left;margin-right: 10px;}
#pagi li a {display: block;	text-decoration: none; color: #717171;font: bold 11px Arial, sans-serif;padding: 5px 8px;
	-webkit-border-radius: 3px;	-moz-border-radius: 3px;	border-radius: 3px;	background: #ffffff;}
#pagi li a.current, #pagi li a:hover {color: #ffffff;	background: #5EB7CB;}

.jssora13l, .jssora13r, .jssora13ldn, .jssora13rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../images/a13.png) no-repeat;
    overflow: hidden;
}
.jssora13l {background-position: -10px -35px;}
.jssora13r {background-position: -70px -35px;}
.jssora13l:hover {background-position: -130px -35px;}
.jssora13r:hover {background-position: -190px -35px;}
.jssora13ldn {background-position: -250px -35px;}
.jssora13rdn {background-position: -310px -35px;}
#slider1_container{top:-4px !important;}
#slider1_container h3, #slider1_container p{margin-left: 19px; text-align: left; color: #fff;margin-top: -10px;}
#slider1_container h3{ font-family: 'Oswald'; font-size: 24px; background: #4cc9e9; padding: 10px; position: absolute; bottom: 95px;-webkit-transition: all 0.3s ease-in;-moz-transition: all 0.3s ease-in;-o-transition: all 0.3s ease-in;}
#slider1_container h3:hover{background: #fff; color: #4cc9e9;}
#slider1_container div p{ font-family: 'Source Sans Pro'; font-size: 24px; background: #343839; padding: 10px;width: 922px;}
#slider1_container .slider-text{position: absolute; bottom: 0px; padding: 10px; padding-bottom: 0px;}

.discover{font-family: 'Oswald'; font-weight: bold; font-size: 30px; color: #4cc9e9; padding: 0px 20px;}
.numbers{font-family: 'Oswald'; font-weight: bold; font-size: 72px; color: #4cc9e9;}
.sub-discover{font-family: 'Oswald'; font-weight: bold; font-size: 18px; color: #343839; line-height: 35px;}
.div-discover{width: 320px;}

.world-div{background: #fff; border-bottom: 2px solid #ccc; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; width: 211px; padding:5px;}
.world-div .world-title{font-family: 'Oswald'; font-weight: bold; font-size: 16px; color: #343839;}
.world-div .world-desc{font-family: 'Source Sans Pro'; font-size: 18px; color: #343839;}
.world-table td{padding-right: 65px; padding-top: 10px;}
.world-table .world-category a{font-family: 'Oswald'; font-size: 12px; position: absolute; background: #4cc9ff; color:#fff; padding: 3px 15px 3px 20px;margin-top: 0px;margin-top: -150px;-webkit-transition: all 0.3s ease-in;-moz-transition: all 0.3s ease-in;-o-transition: all 0.3s ease-in;}
.world-table .world-category:hover a{background: #fff; color:#4cc9ff;}

.about{background: #fff;}
.about .who{color: #fff; font-family: 'Oswald'; font-size: 30px; padding: 40px 0px 20px 0px;}

.contact{background: #fff; min-height: 850px;}
.contact .who{color: #fff; font-family: 'Oswald'; font-size: 30px; padding: 40px 0px 40px 0px;}
.contact .con-q{font-family: 'Oswald'; font-size: 28px; color: #4cc9e9}
.contact table input, .contact table textarea{font-family: 'Oswald'; border-radius: 0px; background: #f8f8f8; color: #96a0a2;text-align: left; width: 50%;}
.contact table{width: 100%;}
.contact table textarea{position: absolute; left: 52%;top: 55px; height: 200px;}
.contact #submit{font-family: 'Oswald'; color: #fff; background: #4cc9e9; border: 1px solid #4cc9e9; padding: 5px 15px;}

.partner{background: #fff; min-height: 850px;}
.partner .partner-l{background: #4cc9e9;  padding: 40px 40px; color:#fff; width: 85px;border-radius: 95px;}
.partner .who{color: #fff; font-family: 'Oswald'; font-size: 30px; padding: 40px 0px 40px 0px;}
.partner #submit{font-family: 'Oswald'; font-size: 20px; color: #fff; background: #4cc9e9; border: 1px solid #4cc9e9; padding: 5px 15px;}

.partner #submit:hover, .contact #submit:hover{cursor: pointer;}

.services{background: #fff;}
.services .partner-l{background: #4cc9e9;  padding: 40px 40px; color:#fff; width: 70px;border-radius: 95px;}
.services .who{color: #fff; font-family: 'Oswald'; font-size: 30px; padding: 40px 0px 40px 0px;}
.services .s-title{font-family: 'Oswald'; font-weight: normal; font-size: 30px; color: #4cc9e9; line-height: 50px;}

.world{background: #fff;}
.world .w-title{font-family: 'Oswald';font-size: 30px;color:#fff;}
.world .world-div{border: none;}
.world .world-posted{font-style: italic; color: #d1d1d1;}
.world .world-table td{padding-right: 65px; padding-top: 25px;}
.world .pagination ul li{float:left;position: relative;padding: 6px 5px 0px 5px;}
.world .pagination ul li a:hover{text-decoration: underline; color: #4cc9e9;}
.world .pagination{margin-left: 435px;padding-bottom: 30px;margin-top: 15px;}

.post{background: #fff;}
.post .w-title{font-family: 'Oswald';font-size: 35px;color:#fff;}
.post .world-posted{color: #fff;margin-top: 10px;}
.post .post-c{text-align:left;width: 800px;}
.post .comment{font-family: 'Oswald';font-size: 25px; border:none!important;background: transparent!important;margin: 0px!important; padding: 0px!important;}
.post hr{width: 800px;float: left;}